@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    color: white;
}
.card {
    background-color: rgb(9, 11, 11);
}

.header {
    background:rgb(14, 11, 11);
}